$military-green: #92aa83;
$grey-green: #b0bea9;
$yellow-green: #e7f59e;
$grey: #f1f7ee;
$off-black: #1c1b1b;

// BASICS ============================

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.App {
  padding: 2rem;
}
input,
select {
  border: 1px solid #92aa83;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: auto 0.25rem;

  &[type="submit"] {
    background: #92aa83;
  }
}
form {
  margin-bottom: 1rem;
}
button,
a,
input[type="submit"] {
  margin: auto 0.25rem;
  background: #92aa83;
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  border: 0;
  cursor: pointer;
  transition: background 0.25s ease-in-out;
  &:hover {
    background: #e7f59e;
  }
}
.comments,
.score {
  line-height: 2;
  font-size: 1.2rem;
}
.vote {
  display: flex;
}
.posts-container,
.post-container {
  h3 {
    font-size: 1.6rem;
  }
  li {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    background: #f1f7ee;
    border-radius: 10px;
    padding: 1rem;
  }
  .options {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}
.post-container {
  background: #f1f7ee;
  padding: 1rem;
  .comment {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    h5 {
      font-size: 1.3rem;
    }
    h6 {
      font-size: 1.1rem;
      color: #92aa83;
    }
  }
}
